[Unit]
Description=Runs letsencrypt cert generator
Wants=gencerts.timer

[Service]
ExecStart=/usr/local/sbin/gencerts

[Install]
WantedBy=multi-user.target
